<p id="notice"><%= notice %></p>
<div class="container">
  <%= link_to 'Home', root_path %>

  <h1>Circuits</h1>

  <%= link_to 'New Circuit', new_circuit_path, class: "btn btn-primary" %>
  <hr>

  <% @circuits.each do |circuit| %>
    <%= render "summary", circuit: circuit %>
    <hr>
  <% end %>
</div>