<p id="notice"><%= notice %></p>
<%= link_to 'Home', root_path %>
<br>

<h1>Circuits</h1>

<%= link_to 'New Circuit', new_circuit_path, class: "btn btn-primary" %>

<% @circuits.each do |circuit| %>
  <%= render "summary", circuit: circuit %>
<% end %>
