<p id="notice"><%= notice %></p>

<h3>Favorite Circuits</h3>
<% if @user.favorite_circuits.empty? %>
  <em>No favorites</em>
<% else %>
  <% @user.favorite_circuits.each do |circuit| %>
    <p>
      <%= render "favorite_circuit", circuit: circuit %>
    </p>
  <% end %>
<% end %>

<br>
<%= link_to 'Back', user_path(@user) %>
